body{
		font-family:cursive;
		background-image:url("https://www.giardinaggio.it/giardino/piante-da-giardino/strelitzia_NG1.jpg");
	}

	.formulario{
		background-color:#D3E8D3;
		width:50%;
		border: 1px solid #ccc;
		margin:auto;
		margin-top:1%;
		padding:20px;
		
		
	}
	label{
		font-size:16px;
		width:100%;
	}
	input{
		margin-botton:20px;
		width:100%;
		padding:10px;
		border:1px solid #ccc;
	}
	
	log{
		text-align:center;
		border:1px solid red;
	}
	#header{
		text-align:center;
	
		margin-top:100px;
		padding:10px;
	}
	a{
		margin-left:30%;
		
	}
	.IniciarSesion {
	border: 1px solid #2E86C1;
	padding:10px;
	margin-left: 42%;
	display:inline-block;
	font: bold 13px Arial;
	text-decoration:none;
	color:#FFF;
	background-color:#5DADE2;
	border-radius:10px;
}