.formulario{
background-color:#D3E8D3;
width:50%;
border: 1px solid #ccc;
margin:auto;
padding:20px;

}
label{
font-size:16px;
width:100%;
}
input{
margin-botton:20px;
width:100%;
padding:10px;

}

#check{
margin-left: -45%;
}
a{
margin-left: -47%;
}
body{
background-image:url("Venta.html");

}
#header{
		text-align:center;
		margin-top:50px;
		padding:10px;
	}
	p{
		
		text-align:center;
		
		margin-left:20%;
		border:1px solid red;
	}

.continuar {
	border: 1px solid #2E86C1;
	padding:10px;
	margin-left: 42%;
	display:inline-block;
	font: bold 13px Arial;
	text-decoration:none;
	color:#FFF;
	background-color:#5DADE2;
	border-radius:10px;
}