body{
                font-family: cursive;
				background-image:url("https://www.giardinaggio.it/giardino/piante-da-giardino/strelitzia_NG1.jpg");
				
            }
    
#contenedor{
	
    background-color: #D3E8D3;
    width:400px;
    margin: auto;
	min-heigh:250 px;
	
	text-align:justify;
	padding:20px;
}

#lugar {
	text-align:center;
}


#P1{
	text-align:center;
	
}  
#header{
		text-align:center;
	
		margin-top:50px;
		padding:10px;
		}
		  