.formulario{
background-color:#D3E8D3;
width:50%;
border: 1px solid #ccc;
margin:auto;
padding:20px;

}
label{
font-size:16px;
width:100%;
}
input{
margin-botton:20px;
width:100%;
padding:10px;
border:1px solid #ccc;
}
button{
  position: relative;
 left:100px;
 margin-left:19%;
}
#check{
margin-left: -45%;
}
a{
margin-left: -47%;
}
body{
background-image:url("https://www.giardinaggio.it/giardino/piante-da-giardino/strelitzia_NG1.jpg");

}
#header{
		text-align:center;
		margin-top:50px;
		padding:10px;
	}
	p{
		
		text-align:center;
		
		margin-left:20%;
		border:1px solid red;
	}