
body{
background-image:url("https://www.giardinaggio.it/giardino/piante-da-giardino/strelitzia_NG1.jpg");
}

.formulario{
background-color:#D3E8D3;
width:50%;
border: 1px solid #ccc;
margin:auto;
padding:20px;

}
label{
font-size:16px;
width:100%;
}
input{
margin-botton:20px;
width:100%;
padding:10px;
border:1px solid #ccc;
}

#check{
margin-left: -45%;
}

#header{
		text-align:center;
		margin-top:50px;
		padding:10px;
	}
	
/*a > input{
margin-botton:20px;
width:100%;
padding:10px;
border:1px solid #ccc;
margin-left: 47%;
}*/

.Registrarse {
	border: 1px solid #2E86C1;
	padding:10px;
	margin-left: 42%;
	display:inline-block;
	font: bold 13px Arial;
	text-decoration:none;
	color:#FFF;
	background-color:#5DADE2;
	border-radius:10px;
}


/*Todo para la ventana modal*/

/*Body*/

.ficha{
     width:1000px;
     padding:30px;				
     text-align:justify;
     margin:auto;
     font-family: arial;
}
.h2{
     text-align:center;				
}
.h3{
     font-family: times new roman;
}
.ficha{					  
     padding: 25px;
     margin: 10px; 
}
 
/*Click sobre Acepto las Condiciones*/
#aceptar{
    font-weight: bold;
    margin-left: -47%;
}
#aceptar:hover,
#aceptar:focus {
    color: #00008B;
    text-decoration: none;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 10px 10px 15px rgba(127, 122, 122, 0.35);  
           
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,

.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
