@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
  box-sizing: border-box;
}
img{
    display: block;
  max-width: 100%;

}
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.contenedor h7{
    font-size: 60px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
    color: #fff;
}
.contenedor p{
    font-size: 25px;
    font-family: cursive;

}
h1,h2,h3,h4,h5,h6{
font-family: 'Yanone Kaffeesatz', sans-serif;
letter-spacing: 1.5px;
color: #fff;

}
.section__titulo{
    text-align: center;
    font-size: 40px;
    color: #b15252;

}
/*Estilos del header*/
.header{
  height: 60px;
}
.header .contenedor{
  display: flex; /*uno despues del otro*/
  justify-content: space-between;
}
.logo, .icon-menu{
  margin: 5px;
 }
.icon-menu{
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: #b15252;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  margin-left:  auto;
  cursor: pointer;
}
.nav{
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  transition: all 0.4s;

}
.menu{
  list-style: none;
  padding: 0;
  margin: 0;

}
.menu__link{
  display: block;
  padding: 25px;
  background:#b15252;
  text-decoration: none;
  color: #fff;

}
.menu__link:hover, .select{
  background: white;
  color: #b15252;
}
.mostrar{
  left: 0;
}

.banner{
  margin-top: -60px;
  position: relative;
  z-index: -1000;
}
.banner .contenedor{
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #fff;
  text-align: center;
}
.banner__txt{
  display: none;
}
/*estilos de info*/
.info__columna > nav img{
    margin: auto;

}
.info__columna > nav{

    text-align: center;
    margin: 1px;
    padding: 10px;

}

.info__columna{
    background: #b15252;
    color:#fff;
    padding: 15px;

    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;

}


.cursos__img{

     width: 30%;


}

/*estilos de cursos*/
.cursos__columna{
    position: relative;
    margin-bottom: 30px;

}
.cursos__descripcion{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 60%;
    height: 100%;
    padding: 5px;
 }
 .cursos__titulo{
     font-size: 25px;
     margin: 5px 0;
 }
.footer {
    background: #333;
    color:#fff;
    padding: 10px;
    text-align: center;
}
.footer .social [class^="icon-"]{/*clases que empiecen con la palabra icon--*/
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    line-height: 40px;
}
/*estilos responsive*/
@media(min-width:480px) {/*a partir de 480px;*/
    .logo{
        font-size: 50px;
    }

     .banner__titulo{
        font-size: 40px;
        margin: 5px 0;
    }
    .banner__txt{
        display: block;
        font-size: 24px;
        margin: 7px 0;
    }
    .info{
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }
    .info__img{
        width: 80%;
    }
    .info__columna{
        width: 32%;
    }
    .info__titulo{
        font-size: 30px;
        margin: 5px 0;
    }
    .cursos{
        flex-wrap: wrap;
        margin-top: 0;
    }
    .section__titulo{
        width: 100%;
    }
    .cursos__columna{
        width: 49%;
    }

}
